<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Joyas de Ushuaia</name>

    <description>
       Que tal gente
    </description>

    <author href="https://revolucion.mobi"
     email="carlos@revolucion.movi">
        Lucas Romano
    </author>

</widget>
